body{
	font-family: Cambria;
}

hr{
	border-width: 4px;
	display: block;
	border-color:#1F497D;
}

.column65{
	width:65%;
}

.column35{
	width:35%;
}

.column49{
	width:49%;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.contact-icon{
	width: 20px; 
	height: 20px;
	float:left;
}

.photo-thumbnail{
	width:150px;
	display:block;
    margin:auto;
    
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.background-photo{
	background-color:#1F497D; 
	color:white;
}

.personalData{
	flex-direction:row; 
	background-color: #DBE5F1;
	color:#1F497D;
}

.corporativeColor{
	color:#1F497D;
}

.corporativeBackground{
	background-color:#1F497D;
}

.sectionTitle{
	font-family:Impact;
	margin-left: 40px;
}

.fs-i{
	font-style:italic;
}
.fs-b{
	font-weight: bold;
}
