<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head"></head>
	<body>
		<header th:replace="layout/layout :: header"></header>
	
		<div class="container w-75">
			<h1 class="text-secondary border border-top-0 border-left-0 border-right-0 mt-2" style="border-color: #1F497D;"
				th:text="${title}"></h1>
			
			<div class="card-body w-25 float-left mt-4 background-photo">
					<img th:src="@{/images/photo.png}" alt="Photo" class="photo-thumbnail"/>
			</div>
			
			<div class="float-right w-75">
				<div class="card bg-light my-2 ml-3" th:each="contact: ${contacts}">
					<div class="card-body">
						<div class="contact-icon mx-2">
							<img th:if="${contact.contactType == T(com.pmr.springbootcvweb.constants.ContactType).PHONE}" 	 th:src="@{/images/tf.png}" alt="Telephone" />
							<img th:if="${contact.contactType == T(com.pmr.springbootcvweb.constants.ContactType).MAIL}" 	 th:src="@{/images/gm.png}" alt="Mail" />
							<img th:if="${contact.contactType == T(com.pmr.springbootcvweb.constants.ContactType).LINKEDIN}" th:src="@{/images/LN.png}" alt="Linkedin" />
						</div>
						<span th:if="${contact.contactType == T(com.pmr.springbootcvweb.constants.ContactType).PHONE} or 
									 ${contact.contactType == T(com.pmr.springbootcvweb.constants.ContactType).OTHER}" 									 	  th:text="${contact.value}"></span>
						<a th:if="${contact.contactType == T(com.pmr.springbootcvweb.constants.ContactType).MAIL}" 	   th:href="'mailto:' + ${contact.value}" th:text="${contact.value}" class="card-link"></a> 
						<a th:if="${contact.contactType == T(com.pmr.springbootcvweb.constants.ContactType).LINKEDIN}" th:href="${contact.value}" 		      th:text="${contact.value}" class="card-link"></a> 
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="layout/layout :: footer"></footer>
	</body>
</html>