<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head"></head>
	<body>
	
		<header th:replace="layout/layout :: header"></header>
	
		<div class="container w-75">
			
			<div id="personalData" class="card mt-2 mb-4 personalData">
				<div class="card-body w-75 float-left">
					<p th:text="${person.description}" class="text-justify" style="font-size: 18px;"></p>
					
					<hr class="corporativeColor"/>
					
					<h2 th:text="${person.fullName}" class="float-right"></h2>
					<br/><br/>
					<div class="d-block float-right">
						<h4 th:text="${person.currentRol}" class="fs-i"></h4>
					</div>
				</div>
				
				<div class="card-body w-25 float-right background-photo">
					<img th:src="@{/images/photo.png}" alt="Photo" class="photo-thumbnail"/>
				</div>
			</div>
				
			<div id="mainContainer">
				<div id="experienceContainer" class="float-left pr-3 column1" >
				
					<div id="experienceHeader">
						<div class="contact-icon mx-2">
							<img th:src="@{/images/briefcase.png}" alt="Experience" />
						</div>
						<h3 class="corporativeColor sectionTitle">Experiencia</h3>
					</div>
					
					<div class="card bg-light my-2" th:each="job: ${jobs}">
						<div class="card-body" style="font-size:14px;">
							<h5 class="card-title d-block fs-b" th:text="${job.role}"></h5>
							<h6 class="card-subtitle float-left fs-i" th:text="${job.company}"></h6>
							
							<span class="card-subtitle float-right" th:if="${job.dateTo} != null" th:text="${#dates.format(job.dateTo, 'MMMM yyyy')}"></span>
							<span class="card-subtitle float-right" th:if="${job.dateTo} == null" >en la actualidad</span>
							<span class="card-subtitle float-right" th:text="${#dates.format(job.dateFrom, 'MMMM yyyy')} + ' /&nbsp;'"></span>
							<br/><br/>
							<p class="card-text" th:utext="${job.description}"></p>
						</div>
					</div>
				</div>
				
				<div id="trainingContainer" class="float-right column2" >
				
					<div id="trainingHeader">
						<div class="contact-icon mx-2">
							<img th:src="@{/images/cap.png}" alt="Training" />
						</div>
						<h3 class="corporativeColor sectionTitle">Formaci&oacuten</h3>
					</div>
					
					<div class="card my-2" th:each="training, iStat : ${trainings}" 
													th:style="${iStat.odd}? 'background-color: #f8f9fa!important;' 
																		  : 'background-color: #e1e6ea!important'">
						<div class="card-body" style="font-size:12px">
							<dl class="m-0" style="font-size:14px;">
								<dt th:text="${training.title}"></dt>
								<dd class="m-0"> 
									<span th:text="${training.providedBy}" class="ml-2 fs-i"></span>
									<span class="float-right" th:text="${training.endDate}"></span>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer th:replace="layout/layout :: footer"></footer>
		
	</body>
</html>